:root {
    /* All other element sizing is based upon the width */
    /* Likes to be 400px, will need updating for other sizes */
    --width: 400px;
    --text-font-size: calc(var(--width) * 18 / 400);
    --heading-font-size:  calc(var(--width) * 64 / 400);
}

/* Good use case
 * Assumes colors --active, --accent, --cream, --text-primary, --text-secondary
<div class="card">
    <div class="top">
        <div class="circle in-progress"></div>
        <div class="text">In Progress</div>
    </div>
    <div class="header">WynnCalc</div>
    <div class="image">
            <img src="media/WynnLogo.png">
    </div>
    <div class="description">
        <div clas="text">
            WynnCalc is a tool that optimizes builds for the Minecraft Server Wynncraft.
        </div>
        <a class="learn" href=".">
            Learn More.
            <div class="triangle in-progress"></div>
        </a>
    </div>
</div>
*/

.card {
    box-sizing: border-box;
    width: var(--width);
    height: calc(var(--width) * 5 / 4);
    margin: 0;
    padding: 10px;
    border-radius: 0 calc(var(--width) / 20) calc(var(--width) / 20) calc(var(--width) / 20);
    background-color: var(--cream);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 20px;
    color: var(--text-primary);
}

.card .active {
    background: var(--active);
    color: var(--active);
}

.card .in-progress {
    background: var(--accent);
    color: var(--accent);
}

.card .inactive {
    background: var(--text-secondary);
    color: var(--text-secondary);
}

.card .top {
    display: flex;
    gap: 5px;
}

.card .top .text {
    color: var(--text-secondary);
}

.card .top .circle {
    width: calc(var(--width) / 20);
    height: calc(var(--width) / 20);
    margin: 0;
    padding: 0;
    border-radius: calc(var(--width) / 40);
}

.card .header {
    font-size: var(--heading-font-size);
    padding: calc(var(--width) / 20) calc(var(--width) / 40);
}

.card .image {
    box-sizing: content-box ;
    width: calc(var(--width) * 3 / 4);
    height: calc(var(--width) * 3 / 4);
    padding: calc(var(--width) / 40) calc(var(--width) / 10);
}

.card .image img {
    width: calc(var(--width) * 3 / 4);
    height: calc(var(--width) * 3 / 4);
    aspect-ratio: 1 / 1;
}

.card .description {
    display: flex;
    width: calc(var(--width) * 3.4 / 4);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-secondary);
}

.card .description .text {
    flex: 1 1 100%
}

.card .description .learn {
    display: flex;
    align-items: center;
    gap: calc(var(--width) / 40);
    margin-top: calc(var(--width) / 40);
    margin-left: auto;
}

.card .description .learn:link, .card .description .learn:visited, .card .description .learn:hover, .card .description .learn:focus, .card .description .learn:active {
    color: var(--text-secondary);
    text-decoration-color: var(--text-secondary);
}

.card .description .learn .triangle {
    width: calc(var(--width) / 20);
    height: calc(var(--width) / 20);
    mask: url('../media/traingle.svg') no-repeat center / contain;
    -webkit-mask: url('../media/traingle.svg') no-repeat center / contain;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease;
}

.card .description .learn:hover .triangle,
.card .description .learn:focus .triangle {
    transform: rotate(90deg);
}